
<form [formGroup]="Purchasingticketformgroup" (ngSubmit)="submit()" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ 'passenger.h' | translate }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col-md-7">
          <mat-form-field class="full-width">
            <input type="text"  formControlName="PassengerName" matInput placeholder="{{ 'passenger.name' | translate }}">

          </mat-form-field>
          <span class="text-danger"
          *ngIf="(name.touched || submitted) && name.errors?.['required']">
              PassengerName is required
       </span>
        </div>
        <div class="col-md-7">
          <mat-form-field class="full-width">
            <input  formControlName="PassengerPhone" matInput placeholder="{{ 'passenger.phone' | translate }}">
          </mat-form-field>
          <span class="text-danger"
               *ngIf="(phone.touched || submitted) && phone.errors?.['required']">
                   PassengerPhone is required
           </span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <mat-form-field class="full-width">
            <input  formControlName="PassengerAge" matInput placeholder="{{ 'passenger.age' | translate }}">

          </mat-form-field>
          <span class="text-danger"
                                *ngIf="(age.touched || submitted) && age.errors?.['required']">
                                PassengerAge is required
                            </span>
        </div>
       </div>
       <div class="col-md-7">
        <mat-form-field class="full-width">
          <input type="number" formControlName="TicketsNumber" matInput placeholder="{{ 'passenger.num' | translate }}">
        </mat-form-field>
        <span class="text-danger"
                                *ngIf="(num.touched || submitted) && num.errors?.['required']">
                                TicketsNumber is required
                            </span>
      </div>
       <div class="col-md-7">
        <mat-form-field class="full-width">
          <input  [ngModel]="trip.id" readonly="true" formControlName="TripID" matInput placeholder="{{ 'passenger.id' | translate }}">

        </mat-form-field>
      </div>
      <div class="col-md-7">
        <mat-form-field class="full-width">
          <input [ngModel]="trip.fare" readonly="true" formControlName="TripFare" matInput placeholder="{{ 'passenger.fare' | translate }}">

        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" type="submit">{{ 'passenger.btn' | translate }}</button>
    </mat-card-actions>
  </mat-card>
</form>
