<form [formGroup]="Purchasingticketformgroup" (ngSubmit)="submit()" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Passenger Information</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input  formControlName="PassengerName" matInput placeholder="Enter your name">
            <span class="text-danger"
                    *ngIf="(name.touched || submitted) && name.errors?.['required']">
                        PassengerName is required
                 </span>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input  formControlName="PassengerPhone" matInput placeholder="Enter phone Number">

            <span class="text-danger"
                                *ngIf="(phone.touched || submitted) && phone.errors?.['required']">
                                PassengerPhone is required
                            </span>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="full-width">
            <input  formControlName="PassengerAge" matInput placeholder="Enter Your Age">
            <span class="text-danger"
                                *ngIf="(age.touched || submitted) && age.errors?.['required']">
                                PassengerAge is required
                            </span>
          </mat-form-field>
        </div>
       </div>
       <div class="col-md-6">
        <mat-form-field class="full-width">
          <input type="number" formControlName="TicketsNumber" matInput placeholder="NumberOfTickets">
          <span class="text-danger"
                                *ngIf="(num.touched || submitted) && num.errors?.['required']">
                                TicketsNumber is required
                            </span>
        </mat-form-field>
      </div>
       <div class="col-md-6">
        <mat-form-field class="full-width">
          <input formControlName="TripID" matInput placeholder="TripID">

        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <input formControlName="TripFare" matInput placeholder="TripFare">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" type="submit">Save</button>
    </mat-card-actions>
  </mat-card>
</form>
