

<h2>{{ 'Home.h' | translate }}</h2>
<form class="example-form" [formGroup]="Homeformgroup" (ngSubmit)="search()">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>{{ 'Home.from' | translate }}</mat-label>
    <input  #from  matInput formControlName="from" >
  </mat-form-field>
  <form class="example-form" [formGroup]="Homeformgroup">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>{{ 'Home.to' | translate }}</mat-label>
      <input  #to matInput formControlName="to" >
    </mat-form-field>

<button mat-raised-button color="accent"  routerLink="/Avaliable/{{from.value}}/{{to.value}}">{{ 'Home.btn' | translate }}</button>


