<table mat-table [dataSource]="flights" class="mat-elevation-z8">



  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>

  </ng-container>


  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>

<br>
<br>

<button mat-flat-button color="accent" routerLink="/book/{{flights[0].id}}">Book</button>

